body { margin: 0; font-family: sans-serif; background: black; color: white; }
canvas { display: block; background-color: black; }
table { border-collapse: collapse; }
td { vertical-align: middle; text-align: center; white-space: nowrap; padding: 0 0.3em; }
input { width: 100%; margin: 0; }
input[type=range] { height: 4em; display: block; }
a { color: #00cc00; }
sup { font-size: 0.75em; display: inline-block; max-height: 0.5em; width: 0; vertical-align: 0.45em; }
sub { font-size: 0.6em; vertical-align: -0.35em; }

#container { max-width: 1000px; width: 100%; margin: 0 auto; }

#container.winding #winding { float: left; /*width: 35%;*/ }
#container.winding #wave { float: right; /*width: 65%;*/ }
#container.winding table { float: right; width: 65%; }
#container.winding table td { width: auto; text-align: right; }
#container.winding table td + td + td { width: 100%; }

#container.fourier #wave { /*width: 100%;*/ }
#container.fourier #fourier { /*width: 100%;*/ }
#container.fourier table { width: 100%; }
#container.fourier table td { width: auto; text-align: right; }
#container.fourier table td + td + td { width: 100%; }

#container.fourier2 #complete-label { float: left; width: 35%; text-align: center; font-weight: bold; padding: 5px; }
#container.fourier2 #zoomed-label { float: right; width: 60%; text-align: center; font-weight: bold; padding: 5px; }
#container.fourier2 #wave { float: left; /*width: 35%;*/ padding-bottom: 15px; }
#container.fourier2 #wave2 { float: right; /*width: 65%;*/ }
#container.fourier2 table { margin: 0 auto; margin-top: 1.5em; }
select { padding: 0.5em; }
#play {
    background: #555555; border-radius: 10px; padding: 0.5em; cursor: pointer; user-select: none;
    text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.spectrogram canvas { border: 1px solid white; }
.spectrogram .controls { width: 100%; text-align: center; padding: 0.5em 0; }
.spectrogram .controls .button { margin-left: 1em; display: inline-block; font-size: 2em; line-height: 0.75em; cursor: pointer; user-select: none; }
.spectrogram .controls .button:first-child { margin-left: 0; }
