body { margin: 0; font-family: sans-serif; background: black; color: white; }
canvas { display: block; background-color: black; }
table { border-collapse: collapse; }
td { vertical-align: middle; text-align: center; white-space: nowrap; padding: 0 0.3em; }
input { width: 100%; margin: 0; }
input[type=range] { height: 4em; display: block; }
select { padding: 0.5em; }
a { color: #00cc00; }
sup { font-size: 0.75em; display: inline-block; max-height: 0.5em; width: 0; vertical-align: 0.45em; }
sub { font-size: 0.6em; vertical-align: -0.35em; }

.button {
  background: #555555; border-radius: 10px; padding: 0.5em; cursor: pointer; user-select: none;
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
.button:hover {
  background: #333333;
  color: #CCCCCC;
}

#container { max-width: 1000px; width: 100%; margin: 0 auto; }

#container.winding #winding { float: left; /*width: 35%;*/ }
#container.winding #wave { float: right; /*width: 65%;*/ }
#container.winding table { float: right; width: 65%; }
#container.winding table td { width: auto; text-align: right; }
#container.winding table td + td + td { width: 100%; }

#container.fourier #wave { /*width: 100%;*/ }
#container.fourier #fourier { /*width: 100%;*/ }
#container.fourier table { width: 100%; }
#container.fourier table td { width: auto; text-align: right; }
#container.fourier table td + td + td { width: 100%; }

#container.fourier2 #complete-label { float: left; width: 35%; text-align: center; font-weight: bold; padding: 5px; }
#container.fourier2 #zoomed-label { float: right; width: 60%; text-align: center; font-weight: bold; padding: 5px; }
#container.fourier2 #wave { float: left; /*width: 35%;*/ padding-bottom: 15px; }
#container.fourier2 #wave2 { float: right; /*width: 65%;*/ }
#container.fourier2 table { margin: 0 auto; margin-top: 1.5em; }

.spectrogram canvas { outline: 1px solid white; }
.spectrogram .controls { width: 100%; text-align: center; padding: 0.5em 0; }
.spectrogram .controls .button { margin: 1em; display: inline-block; font-size: 1.5em; line-height: 0.75em; }
.spectrogram .controls .button.rewind {
  letter-spacing: -0.1em;
  transform: scaleX(0.8);
  padding-right: 0.7em;
}
.spectrogram .controls .button.play-pause {
  vertical-align: -0.1em;
  padding-top: 0.6em;
  padding-bottom: 0.4em;
}
.spectrogram .controls .button.disabled {
  color: #333333 !important;
  background: #333333 !important;
  position: relative;
}
.spectrogram .controls .button.disabled:after {
  content: ' ';
  width: 1.25em; height: 1.25em;
  position: absolute;
  background: url('loading.gif');
  background-size: 1.25em 1.25em;
  left: 0.625em; top: 0.25em;
}
.spectrogram .controls select { margin: 1em; font-size: 1.2em; }
